:root {
    --background: #221122;
    --main-color: #EB53D3;
    --main-color-dk: #551251;
    --accent-1: #6eebff;
    --accent-2:#a225e3;
}

body {
    background-color: var(--main-color);
}

main {
    width: 74%;
    background-color: var(--background);
}

.centered
{
    text-align: center;
    color: lightgray
}

.large
{
    font-size: large;
}

.medium
{
    font-size: medium;
}

.small
{
    color: red;
    font-size: small;
}
