@font-face {
    font-family: "FreePixel";
    src: url("https://sadhost.neocities.org/fonts/FreePixel.ttf") format("truetype");
}

.centered
{
    text-align: center;
}

.large
{
    font-size: large;
}

.medium
{
    font-size: medium;
}

.small
{
    color: red;
    font-size: small;
}
