:root {
    --background: #221122;
    --main-color: #EB53D3;
    --main-color-dk: #551251;
    --accent-1: #6eebff;
    --accent-2:#a225e3;
    --content-spacing:5px;
    --border:1px solid black;
}

body {
    background-color: var(--main-color);
}

main {
    width: 74%;
    background-color: var(--background);
}

aside {
    width: 30%;
    margin-left:var(--content-spacing);
    border-left:var(--border);
    background-color: var(--background);
}

.centered
{
    text-align: center;
    color: lightgray
}

.large
{
    font-size: large;
}

.medium
{
    font-size: medium;
}

#footer
{
    color: red;
    font-size: small;
}
